---
---

/* global link styling */
a {
  color: #000;
}

a:hover,
a:focus {
  color: #0b5ed7;
}

/* force consistency in content area */
.home a,
.post a,
.post-content a,
article a {
  color: #000;
}

.home a:hover,
.post a:hover,
.post-content a:hover,
article a:hover {
  color: #0b5ed7;
}

.site-footer {
  display: none !important;
}