---
---

/* global links */
a {
  color: #000;
}

a:hover,
a:focus {
  color: #0b5ed7;
}

/* specifically fix Minima content area */
.post-content a {
  color: #000;
}

.post-content a:hover,
.post-content a:focus {
  color: #0b5ed7;
}