a {
  color: #000 !important;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0b5ed7 !important;
  text-decoration: underline;
}

/* content links */
.home a,
article a,
.post-content a {
  color: #000 !important;
}

/* remove footer */
.site-footer {
  display: none !important;
}